@model SupplyChainManagement.ViewModels.EmployeeAdd

@{

}

<div class="page-content d-flex align-items-stretch">
    @Html.Partial("_navbar")
    <div class="content-inner">
        @Html.Partial("_header")
        <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
                <div class="row bg-white has-shadow">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Add Employee </h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.Id)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.Id, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.Name)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.Name, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.LastName)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.LastName, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.Position)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="position">
                                            <option value="Manager">Manager </option>
                                            <option value="Administrator"> Administrator</option>
                                            <option value="Worker"> Worker</option>
                                           

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.JoiningDate)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.JoiningDate, new { @class = "form-control ", required = "required" , type="date" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.JoiningDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.Address)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.Address, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.Address, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" style="font-size: 18px">
                                        <strong>
                                            @Html.LabelFor(model => model.employeeManagement.Contact)
                                        </strong>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.employeeManagement.Contact, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.employeeManagement.Contact, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-3">
                                        <button type="button" class="btn btn-secondary" onclick="window.location.href = 'Index'">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Add Employee</button>
                                    </div>
                                </div>

                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />

        <script>
             document.getElementById("1").className = "";
            document.getElementById("2").className = "active";
            document.getElementById("3").className = "";
            document.getElementById("4").className = "";
            document.getElementById("5").className = "";
        </script>

        @Html.Partial("_footer") 
    </div>
</div>

